.App{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family:'Rubik', sans-serif;
    color: rgb(79, 79, 79);
    background: linear-gradient(
        135deg,
        rgb(67, 180, 251)25%, 
        rgb(116, 2, 108)
        );

}